*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    background-color: #D3F0F4;
    padding: 0 10px;
}

body::-webkit-scrollbar {
    display: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}


#root,
#__next {
    isolation: isolate;
}

a, button {
    all: unset;
    cursor: pointer;
}


:root {
    --blue: #115;
    --white: #ffffff;
}
  
p {
    color: #64898E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: justify;
    margin-bottom: 20px;
}

.container{
    display: flex;
    max-width:1040px;
    margin: auto;
    justify-content: space-between;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
